
.form-container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 100px; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.form-actions {
    text-align: right;
}

.form-actions button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #0056b3;
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    width: 30%;
    margin-right: 10px;
}

.phone-input input[type="tel"] {
    width: 70%;
}

#output {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #output h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .output-container {
    margin-top: 20px;
  }
  
  .output-container p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .output-container p span {
    font-weight: bold;
    color: #333;
  }

  